.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .extension-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .extension-icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }
  
  .extension-details {
    flex: 1;
  }
  
  .extension-name {
    font-weight: bold;
  }
  
  .extension-id {
    color: #888;
  }
  
  .empty-message {
    color: #888;
    text-align: center;
    margin: 20px 0;
  }